* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    color: #d7ceb2;
    text-shadow: 3px 3px 0 #2c2e38, 5px 5px 0 #5c5f72;
    font-size: 50px;
    letter-spacing: 10px;
}

body {
    margin: 0;
    padding-top: 50px;
    background: url("../images/space.jpg");
}

/*body::after {*/
    /*content: "";*/
    /*background: url("../images/space.jpg");*/
    /*opacity: 1;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*position: absolute;*/
    /*z-index: -1;*/
/*}*/

section#score {
  width: 100%;
}

#board {
  width: 640px;
  height: 640px;
  margin: 2em auto;
}

#board > div{
  border: 1px solid #cfcfcf;
  float: left;
  width: 64px;
  height: 64px;
}


.scoreDiv, .restartDiv {
  width: 10em;
  height: 3em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  /*border: 1px solid lightgray;*/
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
}

.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.coin {
  background-image: url('../images/star_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section#over {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  background-color: rgba(69, 76, 73, 0.75);
}

section#over pre {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  color: brown;
}

.restartDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.invisible {
  opacity: 0;
}